:root {
  font-size: 16px;
}

body {
  background-color: #fff;
}

img {
  width: 30%;
  height: 30%;
  border-radius: 5px;
}

.username {
  font-weight: bold;
  background-color: rgb(35, 255, 255);
  color: #fff;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.info {
  text-align: center;
  color: #34e;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.info > a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: rgba(0, 255, 100, 1);
}

#footer {
  margin-top: 50%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #fff;
  background-color: #000;
}

#footer > a {
  text-decoration: none;
}
